* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
  background: var(--color-backround);
}

:root {
  --color-primary: #008cff;
  --color-backround: #f6f6f6;
  --color-dark: #2f2f2f;
  --color-quaternary: #fff;
  --color-error: #ff5a5f;
  --color-success: #00c292;
}

.container {
  max-width: 1024px;
  margin: auto;
  /* padding: 20px; */
  /* background: var(--color-backround);
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
}

/* nav bar */

header {
  background: var(--color-primary);
}

.navbar {
  padding: 1em 0;
  color: var(--color-quaternary);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar h1 {
  font-size: 2em;
  font-weight: bold;
}

.timer {
  font-size: 1.5rem;
  font-weight: 600;
}

/* Questions */

form.container {
  margin-top: 2em;
}

.block {
  max-width: 1024px;
  margin: 1rem 0;
  padding: 20px;
  background: var(--color-quaternary);
  border-radius: 4px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
